body {
    margin: 0;
    padding: 0;
    height: 100%;

}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }

.div2 { grid-area: 1 / 1 / 2 / 2; }

.div3 { grid-area: 1 / 1 / 2 / 2; }

#title, #description {
    text-align: center;
}